html,body{
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div[style*="margin: 16px 0"] {
    margin: 0 !important;
}

img {
    -ms-interpolation-mode:bicubic;
}

*[x-apple-data-detectors],  /* iOS */
.unstyle-auto-detected-links *,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
.a6S {
    display: none !important;
    opacity: 0.01 !important;
}

/* What it does: Prevents Gmail from changing the text color in conversation threads. */
.im {
    color: inherit !important;
}

/* If the above doesn't work, add a .g-img class to any image in question. */
img.g-img + div {
    display: none !important;
}

/* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    u ~ div .email-container {
        min-width: 320px !important;
    }
}
/* iPhone 6, 6S, 7, 8, and X */
@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    u ~ div .email-container {
        min-width: 375px !important;
    }
}
/* iPhone 6+, 7+, and 8+ */
@media only screen and (min-device-width: 414px) {
    u ~ div .email-container {
        min-width: 414px !important;
    }
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button{
    background: #fff;
    color: #3A4EE3;
    border-radius: 0;
    border: none;
    padding: 15px 30px;
    position: relative;
    overflow: visible;
    font-size: 0.875rem;
    width: auto;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    display: inline-block;
    fill: #fff;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}
/* ---------------------------------------------------------------- 
----------------------------- HEADER ------------------------------
-------------------------------------------------------------------*/
header{
    float: left;
    margin-left: 0%;
    background-color: white;
    width: 100%;
    align-content: left;
    margin-top: 0;
    margin-left: 0;
}

.header-container{
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    width: 250px;
}

.logo-container{
    margin: 0px 0px;
    padding: 0px;
}

.site-description{
    color: #3b4fe4;
    margin: 0px 0px;
    line-height: 1.5;
    font-size: 0.875rem;
}

.title-wrap{
    margin: 0px 0px;
}


/* ---------------------------------------------------------------- 
----------------------------- CONTENT ------------------------------
-------------------------------------------------------------------*/

#content{
    background-color: #f6f7ff;
    color: black;
    margin: auto;
    width: 100%;
    padding: 0;
}

/*------ HERO -----*/
#hero{
    border: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #3b4fe4;
    /* background-image: url("./assets/img/hero1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: whitesmoke;
    padding-top: 5%;
}

#hero img{
    width: 100%;
    margin: auto;
    padding: 0;
}

.hero-text{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10%;
    font-size: 150%;
}

/*------ LATEST -----*/
#latest{
    padding-top: 5%;
    width: 100%;
    padding-bottom: 1%;
    color: #3b4fe4;
}

.latest-projects{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 3%;
    color: #3b4fe4;
}

.cards-container-outer{
    padding: 0;
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;

}

/*------ CAROUSEL -----*/

#build{
    padding-top: 5%;
    width: 100%;
    padding-bottom: 5%;
}

/*------ REVIEW -----*/

.review{
    width: 90%;
    margin: auto;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/* ---------------------------------------------------------------- 
----------------------------- FOOTER ------------------------------
-------------------------------------------------------------------*/
footer{
    width: 100%;
}

.quote{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: #3b4fe4;
    margin: auto;
    text-align: center;
    color: white;
}

.quote span{
    color: #5dbfee;
}

.info{
    width: 100%;
    background-color: white;
    margin: auto;
}